@font-face {
    font-family: 'Quicksand-Medium';
    src: local('Quicksand-Medium'), url(../fonts/Quicksand-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Signika-SemiBold';
    src: local('Signika-SemiBold'), url(../fonts/Signika-SemiBold.ttf) format('truetype');
}
@font-face {
    font-family: 'Quicksand-Regular';
    src: local('Quicksand-Regular'), url(../fonts/Quicksand-Regular.ttf) format('truetype')
}
@font-face {
    font-family: 'Signika-Regular';
    src: local('Signika-Regular'), url(../fonts/Signika-Regular.ttf) format('truetype')
}

label {
    font-family: Quicksand-medium;
    color: #2EC4B6;
}

h4 {
    font-family: Quicksand-Medium;  
}

h3 {
    font-family: Signika-Regular;
    color: #2EC4B6;
}