.playerInput form {

    width: 50%;
    margin: 0 auto;
    padding: 40px 0 0;

}

.playerInput label {

    display: block;
    text-align: center

}

.scoreForm.container {
    position: absolute;
    background-color: #011627;
    width: 80%;
    left: 50%;
    margin-left: -40%;
}

.scoreForm form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}