.mainHeader h1 {

  text-align: center

}

.tournamentCard.container {

    border: 1px darkblue solid;
    border-radius: 5px;
    width: 200px;

}

.tournamentCard h4 {

    text-align: center

}

.cardWrapper.container {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0;

}

.resultCard.container {
    
    box-sizing: border-box;
    width: 500px;
    text-align: center;
    border: 2px solid purple;
    border-radius: 5px;
    padding: 10px 0;

}