@import './Styling/base.css';
@import './Styling/forms.css';
@import './Styling/playerList.css';
@import './Styling/tournamentView.css';

.mainHeader h1 {

  text-align: center

}

.cardWrapper {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0 0;

}

.resultCard.container {
    
    box-sizing: border-box;
    width: 500px;
    text-align: center;
    border: 2px solid purple;
    border-radius: 5px;
    padding: 10px 0;

}

body {
    background-color: #011627;
}

header {
    background-color: #FDFFFC;
    font-family: 'Signika-SemiBold', sans-serif;
    text-transform: uppercase;
    padding: 30px 0;
}