@import './Styling/base.css';
@import './Styling/forms.css';

.mainHeader h1 {

  text-align: center

}

.tournamentWrapper.container {

    margin-top: 50px

}

.tournamentCard.container {

    border: 1px darkblue solid;
    border-radius: 5px;
    width: 200px;
    margin-bottom: 20px

}

.tournamentCard h4 {

    text-align: center;
    margin: 0;

}

.cardWrapper {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0 0;

}

.resultCard.container {
    
    box-sizing: border-box;
    width: 500px;
    text-align: center;
    border: 2px solid purple;
    border-radius: 5px;
    padding: 10px 0;

}

.playerListName {

    width: 30%;
    display: block;
    text-align: center;
    margin: 5px 1.5%;

}

.playerList {

    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0;

}

body {
    background-color: #011627;
}

header {
    background-color: #FDFFFC;
    font-family: 'Signika-SemiBold', sans-serif;
    text-transform: uppercase;
    padding: 30px 0;
}